/*
 * @file
 * global.styles
 *
 * Styles you add here will load for all device sizes, they are "global", as
 * opposed to "responsive" styles, which only load for a given breakpoint (media
 * query) that you set in theme settings. See the README for more details.
 *
 *
 * How to use this file:
 * --------------------
 *
 * There are many empty selectors and some basic styles to act as a guide.
 * Nothing is set in stone and you can change anything - even delete all of it
 * and start with your own clean slate.
 *
 * See global.base also which includes normalize.css and some additional
 * helper classes and base styles.
 *
 *
 *
 *  Style precedence in CSS (Specificity, Inheritance, Cascade)
 *  -----------------------------------------------------------
 *
 *  Specificity:    a) Inline Style
 *  (a,b,c,d)       b) Id
 *                  c) Class, Pseudo-class, attribute
 *                  d) Element, pseuo-element
 *
 *                          Example: div#sidebar p.bio -> 2 elements, 1 class, 1 id –> (0,1,1,2)
 *
 *
 *  Inheritance:    Elements inherit styles from their parent container.
                    "inherit" let you inherit margin, padding etc. from parent container.
 *
 *
 *  Cascade:        - Site-Author (these files) OVER Site-User(Style settings in browser) OVER Browser Defaults
 *                  - !importance has more weight than normal declarations
 *                  - Equal specificity: last wins
 *
 *                  TIP: Normalizing (see above) takes browser defaults and cross browser issues out of equation!!!
 */

/* =============================================================================
 *   Colors used for web site
 * =============================================================================
    text-black:         #222222
    text-white:         #eeeeee
    text-hover:         #808080
    light-blue:        #1292D4, rgba(18,146,212,1.0)
    middle-blue:       #165C95, rgba(22,92 149, 1.0)
    dark-blue:         #003975, rgba(0,57,117,1.0)
    background:         #efefef
    marker-red:         #b51a00

  =============================================================================*/


/* =============================================================================
 *   Fonts
 * ========================================================================== */

@font-face {
    font-family: 'ApexNewWebBook';
    src: url('../fonts/ApexNewWebBook/ApexNewWebBook.eot');
    src: url('../fonts/ApexNewWebBook/ApexNewWebBook.eot') format('embedded-opentype'),
    url('../fonts/ApexNewWebBook/ApexNewWebBook.woff2') format('woff2'),
    url('../fonts/ApexNewWebBook/ApexNewWebBook.woff') format('woff'),
    url('../fonts/ApexNewWebBook/ApexNewWebBook.ttf') format('truetype'),
    url('../fonts/ApexNewWebBook/ApexNewWebBook.svg#ApexNewWebBook') format('svg');
}
@font-face {
    font-family: "SSSocial";
    src: url('../fonts/ss-social/ss-social-circle.eot');
    src: url('../fonts/ss-social/ss-social-circle.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ss-social/ss-social-circle.woff') format('woff'),
    url('../fonts/ss-social/ss-social-circle.ttf') format('truetype'),
    url('../fonts/ss-social/ss-social-circle.svg#SSSocialCircle') format('svg');
    font-weight: bold;
    font-style: normal;
}



/* =============================================================================
 *   General reset
 * ========================================================================== */
#main-content,
.block-inner,
.pane-inner,
.menu-wrapper,
.branding-elements,
.breadcrumb-wrapper,
.attribution,
.at-panel .rounded-corner,
.block-panels-mini > .block-title,
div.messages,
#content .panel-display,
#content .panel-flexible {
    margin: 0;
}

/*
 * AT regions (top and nested regions)
 */
.at-panel > .region > .region-inner,
.at-panel .at-panel > .region > .region-inner {
    margin: 0;
}

/*
 * Blocks
 */
.block,
.block > .block-inner,
.block .block-title {
    margin: 0;
}


/* =============================================================================
 *   Base
 * ========================================================================== */

/*
 * To preserve theme settings never apply font properties to the HTML element.
 * This is critically important if you are using the Responsive JavaScript
 * feature as this relies on being able to set a pseudo font family on the HTML
 * element. If you need to set default font properties of any kind use the BODY
 * element as these can be overridden using font theme settings.
 */

html {
  background: #efefef;
}


body {
  font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
  font-size: 100%;  /* corresponds to 16px */
}


/* =============================================================================
 *   HTML Elements
 * ========================================================================== */
/* and if we have headings with defined styles we'd also add */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;   /* unitless line-height: element multiply this value with its computed font-sizes */
}

p {
    font-size: 1em;
    line-height: 1.1;     /* unitless line-height: element multiply this value with its computed font-sizes */
}


pre,
code,
tt,
samp,
kbd,
var {
    font-family: Consolas, Monaco, 'Courier New', Courier, monospace, sans-serif;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #222;
    outline: 0;
}

a:active,
a.active,
a:hover,
a:focus {
    text-decoration: none;
    color: #1292D4;
    outline: 0;
}

/*
 *  Text areas resizing handlers
 */
.resizable-textarea .grippie {
    display: none;
}

.field-label {
    /* table layout */
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
    font-weight: bold;
    color: #808080;
    width: 7em;
}

/* Google map */
.google_map_field_display {
    height: 20em;
    width: 100%;
    margin: 0;
}


/* =============================================================================
 *   Wrappers
 * ========================================================================== */
#page, .container {
    margin: 0 auto;
    width: auto;
}
#page .page-inner {
    position:relative;
    margin: 0;
    background-color: #fff;
}
.admin-menu #page .page-inner {
    margin-top: -30px;
}

#header,
#menu-bar,
#breadcrumb,
#messages,
#columns,
#comments,
#footer,
.region-leaderboard,
.region-help,
.region-secondary-content,
.region-tertiary-content {
    width: 100%;
    margin: 0;
}

/*
 * Top and bottom menus wrappers
 */
#header {
    position: fixed;
    top: 0;
    margin: 0;
    height: 125px;
    z-index: 10;
}
#header .header-inner {
    position:relative;
    margin: 0;
    height: 100%;
    border-bottom: 1px solid #1292D4;
    background-color: #fff;
}
#header .region-header {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
}
#header .region-header .region-inner {
    position: relative;
    margin: 0;
    text-align: center;
}

/*
 *  message panel
 */
#messages {
    position: absolute;
    top: 125px;
    min-height: 46px;
}
#messages > div.messages {
    margin: 0 auto;
    width: 60%;
    min-width: 300px;
    border-radius: 0 0 0.4em 0.4em;
}
#breadcrumb {
    display: none;
}
/*
 * Main content wrapper
 */
#columns {
    position: relative;
    padding: 125px 0 0;
}
/*
 * Footer wrapper
 */
#footer {
   height: 100px;
    background-color: #1292D4;
}
#footer > .region-footer > .region-inner {
    margin: 0;
}


/* =============================================================================
 *   Branding
 * ========================================================================== */
/*
 * Wraps all the branding elements, logo, name and slogan
 */
#branding {
    margin: 0;
}

/*
 * Logo
 */
#logo {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 150px;
}

#logo img {
    vertical-align: middle;
}


/* =============================================================================
 *   Language switcher menu
 * ========================================================================== */
#block-locale-language {
    display:inline-block;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 0;
}
#block-locale-language ul.language-switcher-locale-url {
    list-style: none none;
    margin: 0;
    line-height: 1.1;
}
#block-locale-language ul.language-switcher-locale-url li {
    display: inline-block;
}
#block-locale-language ul li a,
#block-locale-language ul li span {
    padding: 0 10px 0;
    font-family: 'ApexNewWebBook', Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.1;
    color: #222;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    border-right: 1px solid #1292D4;
    outline: 0;
}
#block-locale-language ul li.last a,
#block-locale-language ul li.last span {
    padding-right: 0;
    border-right: 0;
}
#block-locale-language ul li a:hover,
#block-locale-language ul li a:active,
#block-locale-language ul li a.active {
    outline: 0;
    color: #1292D4;
    text-decoration: none;
    outline: 0;
}
#block-locale-language ul li span.locale-untranslated {
    outline: 0;
    color: #222;
}


/* =============================================================================
 *   Top menu (login, meta), bottom menu (copyright, legal)
 * ========================================================================== */
/*
 *   meta menu, login menu, legal menu
 */
#block-menu-menu-legal-menu {
    display:inline-block
    width: 100%;
}
#block-menu-menu-meta-menu .block-inner,
#block-system-user-menu .block-inner,
#block-menu-menu-legal-menu .block-inner,
#block-menu-menu-copyright-menu  .block-inner {
    margin: 0;
}

#block-menu-menu-meta-menu ul.menu,
#block-system-user-menu ul.menu,
#block-menu-menu-legal-menu ul.menu,
#block-menu-menu-copyright-menu ul.menu {
    list-style-type:none;
    margin:0;
    padding:0;
    text-align: center;
}
#block-menu-menu-meta-menu ul.menu li,
#block-menu-menu-legal-menu ul.menu li,
#block-menu-menu-copyright-menu ul.menu li,
#block-system-user-menu ul.menu li {
    display:inline-block;
    margin: 0;
    padding-right: 10px;
}

#block-menu-menu-meta-menu ul.menu li a,
#block-system-user-menu ul.menu li a,
#block-menu-menu-legal-menu ul.menu li a,
#block-menu-menu-copyright-menu ul.menu li a {
    font-family: 'ApexNewWebBook', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

#block-menu-menu-meta-menu ul.menu li a:hover,
#block-system-user-menu ul.menu li a:hover,
#block-menu-menu-legal-menu ul.menu li a:hover,
#block-menu-menu-copyright-menu ul.menu li a:hover {
    color: #fff;
    text-decoration: underline;
}


/* =============================================================================
 *   Primary, Secondary and Menu Bar region menus
 * ========================================================================== */
/*
 * Use one of the following id's for granular control:
 *  - #menu-bar (menu bar region)
 *  - #primary-menu (main menu)
 *  - #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */

/* =============================================================================
 *   Superfish menu normal (flexible breakpoint Mobile - Normal)
 * ========================================================================== */
#block-superfish-1 {
    display: inline-block;
    margin: 0;
    vertical-align: bottom;
}

#superfish-1 {
    float: left; /* float parent to contain children */
    width: 100%;
    /* Extend menu to fill whole width */
    white-space: nowrap;
}

#superfish-1 ul {
    margin: 0;
    padding-left: 0;
}

#superfish-1 > li {
    width: auto;
    padding-right: 0;
}

#superfish-1 li a,
#superfish-1 li a:link,
#superfish-1 li a:visited {
    padding: 0 10px 0;
    font-family: 'ApexNewWebBook', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.1;
    color: #222;
    text-align: left;
    text-decoration: none;
    border-right: 1px solid #1292D4;
    outline: 0;
}
#superfish-1 li:hover,
#superfish-1 li.sfHover,
#superfish-1 li a:hover,
#superfish-1 li a:focus,
#superfish-1 li a.active {
    outline: 0;
    color: #1292D4;
}
#superfish-1 > li:first-child a.sf-depth-1 {
    text-indent: -9999px;
    background: #fff url('images/vantage-v-dark.jpg') no-repeat left top;
    background-size: contain;
}
#superfish-1 > li:first-child a.sf-depth-1:hover,
#superfish-1 > li:first-child a.sf-depth-1.active {
    text-indent: -9999px;
    background: #fff url('images/vantage-v-light.jpg') no-repeat left top;
    background-size: contain;
}

#superfish-1 > li:last-child a.sf-depth-1 {
    border-right: none;
}

#superfish-1 a > .sf-sub-indicator {
    display: none;  /* no drop-down arrow */
}



/* =============================================================================
 *   Messages
 * ========================================================================== */
div.messages ul {
    margin-top: 0;
    margin-bottom: 0;
}

div.status {}

div.warning {}

tr.warning {}

div.error,
tr.error {}

.error {}

.warning {}


/* =============================================================================
 *   Pagers
 * ========================================================================== */

ul.pager {
    clear: both;
    margin: 0;
    text-align: center;
}

.item-list ul.pager li {
    margin: 0;
}

ul.pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: .5em;
}

ul.pager li.pager-current {
    font-weight: 700;
}

.block ul.pager li {
    margin: 0;
}

/*
 * Theme the various states of pager links
 */
ul.pager li {}

ul.pager li a {}

ul.pager li a:link,
ul.pager li a:visited {}

ul.pager li a:active,
ul.pager li a.active {}

ul.pager li a:hover,
ul.pager li a:focus {}

ul.pager li.pager-item {}
ul.pager li.first {}
ul.pager li.last {}
ul.pager li.pager-current {}
ul.pager li.pager-first {}
ul.pager li.pager-previous {}
ul.pager li.pager-next {}
ul.pager li.pager-last {}


/* =============================================================================
 *   Forms
 * ========================================================================== */
/*
 * Wrapper for a form element (or group of form elements) and its label
 */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
    border: 1px solid #b51a00;
}

#content form {
    overflow: hidden;  /* Prevents floating form buttons to be outside of form */
}

.form-item div.description {
    padding: 0.2em 0;
}

.form-item label {
    display: inline-block;
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5c5c5c;
}
.form-item label span.form-required {
    color: #1292D4;
}

.form-item .form-checkboxes label,
.form-item .form-checkboxes input,
.form-item .form-radios label,
.form-item .form-radios input {
    width: auto;
    padding-left: 0.1em;
}
.form-item .form-checkboxes input,
.form-item .form-radios input {
    vertical-align: text-top;
}

.form-item .form-checkboxes,
.form-item .form-radios {
    display: block;
    width: 100%;
}
.form-item .form-checkboxes .form-item.form-type-checkbox,
.form-item .form-radios .form-item.form-type-radio {
    display: inline-block;
}

.form-item input,
.form-item textarea {
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    outline: none;
    color: #1292D4;
    border: 1px solid #1292D4;
    -moz-border-radius: 4px; /* Firefox */
    -webkit-border-radius: 4px; /* Safari and Chrome */
    border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    background-color: rgba(248,248,248,1.0);
}

.form-item input:focus,
.form-item textarea:focus {
    box-shadow: 0 0 0.2em #1292D4 inset;
    outline: none;
}
input[type="file"],
input[type="submit"] {
    width:auto;
    padding: 0.375em 0.625em;
    font-size: 0.8em;
    line-height: 1;
    text-transform: uppercase;
    color: #1292D4;
    border: 1px solid #1292D4;
    -moz-border-radius: 0; /* Firefox */
    -webkit-border-radius: 0; /* Safari and Chrome */
    border-radius: 0; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
    background-color: rgba(233,233,233,1.0);
}
input[type="submit"] {
    display: block;
    float: right;
    font-size: 1em;
}
input[type="submit"]:hover {
    color: #1292D4;
    background: none;
}

/*
 *  Form fieldsets
 */
form fieldset {
    position:relative;
    margin: 1em 0;
    padding: 3em 0 0;
    background: none;
    border: none;
}
form fieldset legend {
    /* position legend inside fieldset */
    position:absolute;
    top:10px;
    left: 0;
    font-size: 1em;
    font-weight: bolder;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5c5c5c;

}​
 form fieldset span.button-operator {
     display: none;
 }

/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

/*
 * Wrapper for the list of comments and its titles
 */
#comments {
    overflow: hidden;
    margin: 0;
}

#comments h2 {
    border-bottom: 1px solid rgba(115,133,119,1.0);
}

#comments h2.comment-form,
#comments h2.comment-title {
    margin: 1.25em 0;
    padding-left: 0.625em;
    font-weight: normal;
    color: #222;

}

/*
 * Wrapper for a single comment
 */
.comment,
#comments .at-panel {
    margin: 1.25em 0;
    padding: 0.625em 0;
    border-top: 1px solid rgba(115,133,119,1.0);
}

.comment:first-of-type,
#comments > .at-panel:first-of-type {
    border-top: none;
}

.comment.odd {}

.comment.even {}

/*
 * Preview of the comment before submitting new or updated comment
 */
#comments .comment-form,
#comments .comment-preview {
    overflow: hidden;  /* Prevents floating buttons to be outside form */
    padding: 0.625em;
}

/*
 * Nested comments are indented
 */
#comments .indented {
    margin-left: 2.5em;
}

/*
 * "New" marker for comments that are new for the current user
 */
.new {
    color: #b51a00;
}


/* =============================================================================
 *   Tables
 * ========================================================================== */

table {
    margin: 0.625em 0;
    padding: 0;
    width: 100%;
}

table.sticky-header {
    z-index: 10;
}

table,
thead,
tbody,
tr,
th,
td {
    border-color: #ccc;
}

table,
td,
th {
    vertical-align: middle;
}

caption,
th,
td {
    text-align: left;
}

thead tr {
    font-weight: 700;
    background-color: #e5e5e5;

}

td,
th {
    border-bottom: 0;
    margin: 0;
    padding: 0.375em 0.5em;
}

tbody {}

tbody tr {
    border-top: 1px solid #ccc;
}

tr.odd {
    background: #fff;
}

tr.info,
tr.even,
tr:nth-child(2n+2) {
    border-bottom: 0;
    background-color: #f5f5f5;
}

tr.drag {}

tr.drag-previous {}

tr.odd td.active {
    background-color: #eee;
}

tr.even td.active {
    background-color: #ebebeb;
}

/* =============================================================================
 *   Misc Global reset
 * ========================================================================== */
/*
 *   Action links
 */

ul.action-links {
    margin: 1.25em 0 0;
    list-style: none;
}

ul.action-links li {}

/*
 * Generic styles for the more link
 */
.more-link {}

/*
 * Generic styles for links. See the ul.links declaration in node and comment stylesheets
 */
ul.links {
    margin: 0;
    padding: 0;
}

ul.links.inline {
    display: block;
}

ul.links li {
    display: inline;
    list-style: none;
    padding: 0 0.625em 0 0;
}

/*
 * Feed icons
 */
.feed-icon {}

/*
 * Aggregator feed source
 */
#aggregator .feed-source .feed-icon {
    display: inline;
    float: none;
    margin-right: 0.625em;
}

.feed-details dt,
.feed-details dd {
    display: inline;
    margin: 0;
}

/*
 * Search results are an ordered list so reset the margin
 */
.search-results {
    margin: 0;
}

/*
 * Buttons used by contrib modules like Media
 */
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

/*
 * Password confirmation
 */
.password-parent,
.confirm-parent {
    margin: 0;
}



/* =============================================================================
 *
 *
 *      Administrator mode specific element styling starts here...
 *
 *
 * ========================================================================== */

/*
 * Admin menu overrides
 */
#admin-menu {
    margin: 0;
    padding: 0;
}

/*
 * Devel Module
 */
.dev-query {
    background: #eee;
    padding: 2em;
}

/*
 * Styleguide module tweaks
 */
#styleguide-header {
    padding: 0 0.625em;
}

#styleguide-header .item-list {
    font-family: inherit;
    margin: 0 1.25em 1.25em 0;
    min-height: 260px;
    width: auto;
}

#tasks {
    margin-bottom: 1em;
}


/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
    position: relative;
    z-index: 1;
    margin: 0;
}

ul.primary {
    float: right;
    font-size: 0.8em;
    margin: 0 0 -31px;
    padding: 10px 10px 0 5px;
    border-bottom-color: #ccc;
}

ul.primary li {
    display: block;
    float: left;
    margin: 0 1px -1px;
}

ul.primary li a {
    background-color: #f5f5f5;
    border-color: #ccc;
    margin-right: 1px;
    padding: 0 0.625em;
    display: block;
    float: left;
    height: 1.5em;
    line-height: 1.5em;
}

ul.primary li a:hover,
ul.primary li a:focus {
    background-color: #eee;
    border-color: #ccc;
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
    background-color: #fff;
    border-bottom-color: #fff;
}

ul.secondary {
    border-bottom: 1px solid #ccc;
    margin: 1em 0 0;
    padding: 0 .3em 1em;
}

ul.secondary li {
    border-right: 0;
    list-style: none;
    padding: 0 0.625em 0 0;
}

ul.secondary li a {}

ul.secondary li a:hover,
ul.secondary li a.active {
    border-bottom: none;
    text-decoration: underline;
}


/* =============================================================================
 *   Unpublished nodes
 * ========================================================================== */

/*
 * Unpublished nodes
 */
.node-unpublished,
.comment-unpublished {}

.node-unpublished,
.comment-unpublished {}

.node-unpublished p.unpublished,
.comment-unpublished p.unpublished {
    color: pink;
    color: rgba(239, 170, 170, 0.4);
    font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
    font-size: 4em;
    font-weight: bold;
    height: 0;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    overflow: visible;
    text-align: center;
    text-transform: uppercase;
    word-wrap: break-word;
}


/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page {}
.maintenance-page .container {
    padding: 2.5em 0;
}

.maintenance-page #site-name,
.maintenance-page #page-title {
    margin: 0;
}

.db-offline {}

.db-offline .container {
    margin: 0 auto;
    padding: 2.5em 0;
    width: 100%;
    max-width: 960px;
}

.db-offline div.messages {
    margin: 1.25em 0 0;
}

.db-offline #content {
    padding: 1.25em 0;
}



/* =============================================================================
 *
 *
 *      Common Blocks starts here...
 *
 *
 * ========================================================================== */

/* =============================================================================
 *   Follow block
 * ========================================================================== */
#block-follow-site .block-inner {
    margin: 0;
}
#block-follow-site .follow-links {
    max-width: 50em;
    margin: 0 auto;
    text-align: center;
}
#block-follow-site .follow-links a.follow-link {
    float: none;
    display: inline-block;
    background-image: none !important;
    padding: 0.1em 0.5em;
    height: auto;
    font-size: 1.5em;
    line-height: 1.5;
    color: #222;
    border: solid 0.08em #222;
    border-radius: .1em;
}
#block-follow-site .follow-links .follow-link-this-site:after {
    font-family: FontAwesome;
    content: "\f09e";
}
#block-follow-site .follow-links .follow-link-facebook:after {
    font-family: FontAwesome;
    content: "\f09a";
}
#block-follow-site .follow-links .follow-link-googleplus:after {
    font-family: FontAwesome;
    content: "\f0d5";
}
#block-follow-site .follow-links .follow-link-xing:after {
    font-family: FontAwesome;
    content: "\f168";
}
#block-follow-site .follow-links .follow-link-linkedin:after {
    font-family: FontAwesome;
    content: "\f0e1";
}

/* =============================================================================
 *   ShareThis links block
 * ========================================================================== */
.block-sharethis .block-inner {
    margin: 0;
}
.sharethis-wrapper {
    margin: 0;
    text-align: right;
    border-bottom: 1px solid #1292D4;
}
.sharethis-wrapper > span .stButton {
    margin: 0;
}
.sharethis-wrapper > span .stButton .stLarge {
    background-image: none !important;
    font-size: 16px;
    color: #165C95;
    height: 1em;
    width: 20px;
}
.sharethis-wrapper > span .stButton .stLarge:hover {
    color: #1292D4;
}

/* Large buttons */
.st_facebook_large .stButton .stLarge:before {
    font-family: SSSocial;
    content: "\f610";
    display: inline-block;
    padding: 0.25em 0 0;
}
.st_twitter_large .stButton .stLarge:before {
    font-family: SSSocial;
    content: "\f611";
    display: inline-block;
    padding: 0.25em 0 0;
}
.st_googleplus_large .stButton .stLarge:before {
    font-family: SSSocial;
    content: "\f613";
    display: inline-block;
    padding: 0.25em 0 0;
}
.st_email_large .stButton .stLarge:before {
    font-family: SSSocial;
    content: "✉";
    display: inline-block;
    padding: 0.25em 0 0;
}
.st_pinterest_large .stButton .stLarge:before {
    font-family: SSSocial;
    content: "\f650";
    display: inline-block;
    padding: 0.25em 0 0;
}



/* =============================================================================
 *
 *
 *      jQuery UI (1.10 up) / other widgets starts here...
 *
 *
 * ========================================================================== */

/* =============================================================================
 *   General settings (header, content, border, corner, states, icon)
 * ========================================================================== */
.ui-widget {
    font-family: inherit;
    font-size: 1em;
    margin: 0.5em 0 1em;
}
.ui-widget-header {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.2;
    color: #222;
    text-decoration: none;
    background: none;
    border: 1px solid #ccc;
}
.ui-widget-content {
    color: #222222;
    background: none;
    border: 1px solid #ccc;
}

/* corners */
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0.25em;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0.25em;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0;
}

/* states */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    font-weight: 400;
    color: #808080;
    border: 1px solid #bbb;
    background: #ddd none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    font-weight: 400;
    color: #222;
    border: 1px solid #ccc;
    background: #fff none;
}
.ui-widget .ui-state-default a, .ui-widget .ui-state-default a:link, .ui-widget .ui-state-default a:visited {
    color: #808080;
    text-decoration: none;
    outline: none;
}
.ui-widget .ui-state-active a, .ui-widget .ui-state-active a:link, .ui-widget .ui-state-active a:visited {
    color: #222;
    text-decoration: none;
    outline: none;
}
.ui-widget .ui-state-hover a, .ui-widget .ui-state-hover a:hover, .ui-widget .ui-state-hover a:link, .ui-widget .ui-state-hover a:visited {
    color: #222;
    text-decoration: none;
}

/* Icons */
.ui-widget .ui-icon {
    display: none;
}

/* =============================================================================
 *   jQuery / Quicktabs Tabs
 * ========================================================================== */
.ui-tabs,
.quicktabs-ui-wrapper {
    position: relative;
    padding: 0.2em;
}
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0.2em 0.2em 0;
    border-width: 0;
    border-bottom: 1px solid #ccc;
}

.ui-tabs .ui-tabs-nav li {
    position: relative;
    float: left;
    list-style: none;
    margin: 1px 0.2em 0 0;
    padding: 0;
    top: 0;
    white-space: nowrap;
    border-bottom-width: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
    outline: none;
}

.ui-tabs .ui-tabs-panel {
    display: block;
    padding: 1em 1.4em;
    border-width: 0;
    background: none;
}

/* =============================================================================
 *   jQuery / Quicktabs Accordion
 * ========================================================================== */
/* accordion headers */
.ui-accordion {
    font-size: 1em;
}
.ui-accordion .ui-accordion-header {
    position: relative;
    cursor: pointer;
    display: block;
    margin-top: 0.2em;
    padding: 0.5em 0.5em 0.5em 0.7em;
    min-height: 0;
    background: #ddd none;
}

.ui-accordion .ui-accordion-header.ui-state-active {
    background: #eee none;
}
.ui-accordion .ui-accordion-header.ui-state-default a:before {
    content: '\f054';
    font-family: "fontawesome";
    font-weight: normal;
    padding: 0 0.5em;
    color: #808080;
}
.ui-accordion .ui-accordion-header.ui-state-active a:before,
.ui-accordion .ui-accordion-header.ui-state-hover a:before {
    content: '\f078';
    font-family: "fontawesome";
    font-weight: normal;
    padding: 0 0.35em;
    color: #222;
}


/* =============================================================================
 *  Views Flexslider slideshow block made responsive
 * ========================================================================== */
/*
 *  Banner flexslider
 */
.flex-nav-container {
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.flex-nav-container > .flexslider {
    position: relative;
    /* Trick: The image is visible in the padding area and gives the element a height (overflow=hidden cuts all outside border) */
    overflow: hidden;
    width: 100% !important;
    height: 0;
    padding-bottom: 34.7826%;
    border-radius: 0;
    border: none;
    background: none;
}
.flex-nav-container > .flexslider ul.slides li img {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/* navigation at the bottom inside the panel */
.flex-control-nav {
    position: absolute;
    bottom: -30px;
    outline: none;
    text-align: center;
    width: 100%;
    z-index: 2; /* guarantees controls above direction navigation */
}
.flex-control-nav li a {
    cursor: pointer;
    display: block;
    width: 12px; /* image size */
    height: 12px;
    text-indent: -999em;
    background: url("images/fs_control_nav_blue.png") no-repeat 0 0;
    background-size: 12px auto;
}
.flex-control-nav li a:hover {
    /* get middle image */
    background-position: 0 -12px;
    cursor: default;
}
.flex-control-nav li a.active {
    /* get last image */
    background-position: 0 -24px;
    cursor: default;
}

/* direction controls left and right centered */
.flex-direction-nav li {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
}
.flex-direction-nav li.last {
    left: auto;
    right: 0;
}
.flex-direction-nav li:hover {
    opacity: 1.0;
}

.flex-direction-nav li a {
    display: block;
    position: absolute;

    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    outline: none;
    background: none;
}
.flex-direction-nav li a.prev {
    left: 0;
}
.flex-direction-nav li a.next {
    right: 0;
}

/* =============================================================================
 *
 *
 *      Site specific element styling starts here...
 *
 *
 * ========================================================================== */

/* =============================================================================
 *    User login / register / password pages
 * ========================================================================== */
/*
 * General settings
 */
.page-user #user_register_form,
.page-user #user_login_form,
.page-user .create-account,
.page-user #user_pass_form {
    clear: both;
    float: none;
    width: auto;
}

.page-user #user-register-form h1,
.page-user #user_login_form h1,
.page-user .create-account h2,
.page-user #user_pass_form h1 {
    font: normal 300 38px/38px "Open Sans", Arial, sans-serif;
}

.page-user #user-register-form .form-submit,
.page-user #user_login_form .form-submit,
.page-user #user_pass_form .form-submit,
.page-user a.login-register {
    margin-left: 0;
    padding: 0.625em 1em;
    font-size: 1em;
    color: white;
    text-transform: none;
    line-height: 1.2;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
    border: none;
    background: #1292D4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1292D4), color-stop(1, #003975));
    background: -moz-linear-gradient(top center, #1292D4 0%, #003975 100%);
}
.page-user #user-register-form .form-submit:hover,
.page-user #user_pass_form .form-submit:hover,
.page-user a.login-register:hover {
    background: #003975;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #003975), color-stop(1, #1292D4));
    background: -moz-linear-gradient(top center, #003975 0%, #1292D4 100%);
}
.page-user #user_login_form .form-submit {
    background: #1292D4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1292D4), color-stop(1, #003975));
    background: -moz-linear-gradient(top center, #1292D4 0%, #003975 100%);
}
.page-user #user_login_form .form-submit:hover {
    background: #003975;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #003975), color-stop(1, #1292D4));
    background: -moz-linear-gradient(top center, #003975 0%, #1292D4 100%);
}
/*
 * User login page
 */
.page-user form#user-login {
    position: relative;
    padding: 2em 0;
    border: none;
}
.page-user #user_login_form,
.page-user .create-account {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 70%;
    max-width: 40em;
    vertical-align: top;
    margin: 1em auto;
    padding: 2em;
    border: none;
}

.page-user form#user-login #user_login_form .form-actions-wrapper {
    position: relative;
    padding: 1em 0 0;
}
.page-user form#user-login #user_login_form .login-password {
    display: inline-block;
    margin:  0.5em 0;
    color: #1292D4;
}
.page-user form#user-login #user_login_form .login-password:hover {
    color: #1292D4;
    text-decoration: underline;
}
.page-user form#user-login #user_login_form div.form-actions {
    display: inline-block;
    position: absolute;
    right: 0;
    vertical-align: middle;
    margin: 0;
}
.page-user a.login-register {
    display: block;
    position: absolute;
    right: 0;
    bottom: 2em;
}

/*
 * User register / password pages
 */
.page-user form#user-register-form,
.page-user form#user-pass {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 70%;
    max-width: 40em;
    vertical-align: top;
    margin: 1em auto;
}
.page-user form#user-register-form .form-actions,
.page-user form#user-pass .form-actions {
    margin-top: 2em;
}
.page-user form#user-register-form .form-actions .form-submit,
.page-user form#user-pass .form-actions  .form-submit {
    float: right;
}
.page-user form#user-register-form .form-actions .back-to-login,
.page-user form#user-pass .back-to-login {
    float: left;
    margin: 0;
}
.page-user form#user-register-form .form-actions .back-to-login .login-account,
.page-user form#user-pass .back-to-login .login-account {
    display: inline-block;
    margin-top:  0.5em;
    color: #1292D4;
}
.page-user form#user-register-form .form-actions .back-to-login:before,
.page-user form#user-pass .back-to-login:before {
    content: '\f112';
    font-family: "fontawesome";
    color: #1292D4;
    text-align: center;
    padding: 0.3em;
}
.page-user form#user-register-form .form-actions .back-to-login .login-account:hover,
.page-user form#user-pass .back-to-login .login-account:hover {
    color: #1292D4;
    text-decoration: underline;
}


/* ==================================================================================
 *   Specific Page styling
 * ================================================================================== */
/*
 *  Front page
 */
/* Mission statement */
.front #content .node-block.node-teaser .at-panel {
    margin: 0 auto;
    max-width: 768px;
}
.front #content .node-block.node-teaser .at-panel .region-inner {
    padding: 0 100px;
}
.front .node-block.node-teaser .field-name-body {
    margin: 60px auto;
    padding: 25px 0;
    max-width: 360px;
    border-top: 1px solid #1292D4;
    border-bottom: 1px solid #1292D4;
}
.front .node-block.node-teaser .field-name-body p {
    margin: 0 -80px;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
}
/* Schools view */
.front .view-schools {
    margin: 0 0 60px;
    padding: 0 50px;
}
.front .view-schools .view-content {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
.front .view-schools .views-row {
    display: inline-block;
    margin: 0 2.7%;
    width: 25%;
    max-height: 80px;
    vertical-align: middle;
}

/* ==================================================================================
 *   Banner page styling
 * ================================================================================== */

.node-banner.node-full .at-panel > .region > .region-inner {
    position: relative;
}
.node-banner.node-full .field-name-field-logos {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
}
.node-banner.node-full .field-name-field-logos .field-item {
    display: inline-block;
    margin: 0 10px;
    width: 15%;
    vertical-align: middle;
}
.node-banner.node-full .field-name-field-logos .field-item img {
    width: auto;
    max-height: 50px;
}
.node-banner.node-full .field-name-field-location {
    position: absolute;
    bottom: 0;
    margin: 0 0 -2px;
    padding: 0 10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    background-color: #fff;
}

/* ==================================================================================
 *   Node general styling
 * ================================================================================== */
.page-node #content .node > .at-panel > .region {
    clear: none;
}

/* ==================================================================================
 *   Basic page styling
 * ================================================================================== */
.page-node #content .node-page.node-full > .at-panel {
    margin: 0 auto;
    padding: 0 50px 50px;
    max-width: 768px;
}
#page-title {
    margin: 84px 0 12px;
    font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #1292D4;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
}
.node-page.node-full .field-name-body h2,
.node-page.node-full .field-name-body h3,
.node-page.node-full .field-name-body h4 {
    margin: 5px 0 18px;
    font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #165C95;
    text-align: left;
}
.node-page.node-full .field-name-body p {
    margin: 0 0 25px;
    font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}


/* ==================================================================================
 *   Vision page styling
 * ================================================================================== */
.page-node #content .node-vision.node-full > .at-panel {
    margin: 0 auto;
    padding: 0 50px 50px;
    max-width: 768px;
    min-height: 700px;
}
#content .node-vision.node-full > .at-panel > .region > .region-inner {
    border-bottom: 1px solid #1292D4;
}
.node-vision.node-full .field-name-mission .field-name-title h2 {
    margin: 84px 0 12px;
    font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #1292D4;
    text-transform: uppercase;
    text-align: center;
}
.node-vision.node-full .field-name-mission .field-name-body {
    margin: 0 auto;
    padding: 25px 0;
    max-width: 360px;
    border-top: 1px solid #1292D4;
    border-bottom: 1px solid #1292D4;
}
.node-vision.node-full .field-name-mission .field-name-body p {
    margin: 0 -30px;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
}
.node-vision.node-full .field-name-title h2 {
    margin: 103px 0 18px;
    font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #165C95;
    text-align: left;
}
.node-vision.node-full .field-name-body p {
    margin: 0 0 220px;
    font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}


/* ==================================================================================
 *   Organisation page styling
 * ================================================================================== */
.page-node #content .node-organisation.node-full > .at-panel {
    margin: 0 auto;
    padding: 0 50px 50px;
    max-width: 768px;
    font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
}
.node-organisation.node-full .block-title {
    margin: 60px 0 40px;
    font-size: 18px;
    font-weight: normal;
    color: #1292D4;
    text-transform: uppercase;
    text-align: center;
}
.node-organisation.node-full .node-team.node-teaser > .at-panel > .region > .region-inner {
    margin-bottom: 50px;
    padding: 0;
    overflow: hidden;
}
.node-organisation.node-full .node-team.node-teaser > .at-panel > .region-two-33-66-second > .region-inner {
    margin-left: 0;
    border-bottom: 1px solid #1292D4;
}
.node-organisation.node-full .node-team.node-teaser .field-name-field-picture figure {
    line-height: 0;
}
.node-organisation.node-full .node-team.node-teaser .field-name-field-picture img {
    height: 240px;
    width: auto;
}
.node-organisation.node-full .node-team.node-teaser .field-name-title {
    display: inline-block;
}
.node-organisation.node-full .node-team.node-teaser .field-name-title h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #165C95;
    text-align: left;
}
.node-organisation.node-full .node-team.node-teaser .field-name-field-job-title {
    display: inline-block;
    margin-left: 16px;
    font-size: 11px;
    color: #1292D4;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.node-organisation.node-full .node-team.node-teaser .field-name-body {
    margin: 13px 0 0;
}
.node-organisation.node-full .node-team.node-teaser .field-name-body p {
    margin: 0 0 15px;
    font-size: 13px;
    line-height: 18px;
}


/* ==================================================================================
 *   Schools page styling
 * ================================================================================== */
.page-schools #content .view-schools > .view-content {
    margin: 60px auto 0;
    padding: 0 50px 50px;
    max-width: 768px;
    font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
}
.page-schools #content .view-schools > .view-content .views-row {
    margin-bottom: 30px;
    border-bottom: 1px solid #1292D4;
}
.node-schools.node-full > .at-panel > .region > .region-inner {
    padding: 0;
    overflow: hidden;
}
.node-schools.node-full > .at-panel > .region-two-33-66-second > .region-inner {
    margin-left: 0;
}
.node-schools.node-full .field-name-field-picture figure {
    margin-bottom: 30px;
    line-height: 0;
}
.node-schools.node-full .field-name-field-picture img {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 60%;
}
.node-schools.node-full .field-name-title {
    display: inline-block;
}
.node-schools.node-full .field-name-title h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    color: #165C95;
    text-align: left;
}
.node-schools.node-full .field-name-field-locations ul {
    list-style: none;
    margin: 5px 0 8px;
    padding: 0;
    font-size: 11px;
    color: #1292D4;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.node-schools.node-full .field-name-body {
    margin: 10px 0 0;
}
.node-schools.node-full .field-name-body p {
    font-size: 14px;
    line-height: 18px;
}


/* ==================================================================================
 *   News page styling
 * ================================================================================== */
.page-node #content .node-article.node-full > .at-panel,
.page-news #content .view-news > .view-content {
    margin: 60px auto 0;
    padding: 0 50px 50px;
    max-width: 440px;
    font-family: "ApexNewWebBook", Arial, Helvetica, sans-serif;
}
.page-news #content .view-news > .view-content .views-row {
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid #1292D4;
}
.node-article > .at-panel > .region > .region-inner {
    padding: 0;
    overflow: hidden;
}
.node-article .field-name-field-image figure {
    margin-bottom: 25px;
    line-height: 0;
}
.node-article .field-name-field-image img {
    display: block;
    width: auto;
}
.node-article .field-name-title {
    display: inline-block;
}
.node-article .field-name-title h2 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: #165C95;
}
.node-article .field-name-title h2 a {
    color: #165C95;
}
.node-article .field-name-title h2 a:hover {
    color: #1292D4;
}
.node-article .field-name-post-date {
    margin: 10px 0;
    padding: 0;
    font-size: 11px;
    color: #1292D4;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.node-article .field-name-post-date div {
    line-height: 1;
}
.node-article .field-name-body {
    margin: 10px 0 0;
}
.node-article .field-name-body p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 18px;
}
.node-article.node-teaser .field-name-node-link {
    margin: 0;
    line-height: 1;
}
.node-article.node-teaser .field-name-node-link a {
    margin: 0;
    font-size: 11px;
    color: #1292D4;
    text-align: left;
    text-transform: uppercase;
}


